@import "~bootstrap/dist/css/bootstrap.min.css";

.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 18rem;
    height: 24rem;
}